{% extends "auctions/layout.html" %}
{% block body %}


<style>
    .sold{
        color: red;
    }
.l1{
    border-style:inset;
    border-width: medium;
    border-color: blue;

    width: 60%;
        display: block;
        margin-left: 3px;
        margin-top: 3px;
        padding: 1px;
}
</style>
{% if listings %}   
{% for list in listings %}
{% if list.bought == curr %}
<h1>Congradulations you have won the Auction( {{list.title}})!</h1>
{% else %}
<div class="l1">
    {{list.title}} <br>
    {% if list.imageUrl %}
    <img src="<{{list.imageUrl}}>"> <br>
    {% else %}
    {% endif %}
    {{list.description}} <br> 
    Starting bid= {{list.starting_bid}} <br> 
    {% if list.category %}
    category:{{list.category}}
    {% else %}
    {% endif %}<br>
    
    {% if list.active == False %}
    <a href="/{{list.id}}"> Show </a>
    {% else %}
    <div style="color: red;">Sold</div>
    {% endif %}


</div>
    {% endif %}
    {% endfor %}
{% else %}
No listings.
{% endif %}

{% endblock %}